/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

html, body {
  height:100%;
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}

/* jouw CSS vanaf hier */

h1 {
  color:crimson;
}

img {
    animation-name:kaartVerplaatsen;
    animation-duration:.8s;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-fill-mode:none, forwards;
   }
   
   @keyframes kaartVerplaatsen {
     0% {
       transform:translatey(0);
       animation-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
     }
     50% {
       transform:translatey(-5em);
       animation-timing-function:cubic-bezier(0.895, 0.030, 0.685, 0.220);
     }
     100%{
       transform:translatey(0);
     }
   }

