/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}


html, body {
  height:100%;
  margin:0;
}

body {
  overflow:hidden;
  scroll-behavior: smooth;
}

button:not([disabled]) {
  cursor:pointer;
}

/*main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
*/

main{
  background-image: url("/images/klein.png");
  width: 100vw;
  height: 100vh;
  background-size: 350%;
}


/* jouw CSS vanaf hier */

h1 {
  color:crimson;
}
#link{
  width: 5%;
  position: fixed;
  left: 50%;
  top: 50%;
}

.items{
height: 50%;
width: 50%;
}

.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 500px;
  grid-row-gap: 400px;
  list-style-type: none;
  margin: 2em;
}


.cards > li {
  background-color: hsla(31, 100%, 26%, 0.80);
  padding: 2em;
  margin:0em;
  border-radius: 1em;
  border-style: groove;
  border-width: .5em;
}




/*
img {
    animation-name:kaartPast, kaartAwakening;
    animation-duration:.8s, .8s;
    animation-delay:4s, 4s;
    animation-iteration-count:1, 1;
    animation-fill-mode:forwards, forwards;
   }
   
   @keyframes kaartPast {
     0% {
       transform:translatey(0);
     }
     50% {
       transform:translatey(-50em);
     }
     100%{
       transform:translatey(-100em);
     }
   }

   @keyframes kaartAwakening{
    0% {
      transform:translatey(-100em);
    }
    50% {
      transform:translatey(-150em);
    }
    100%{
      transform:translatey(-200em);
    }
   }
