/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}


html, body {
  height:100%;
  margin:0;
}

body {
  overflow:hidden;
  scroll-behavior: smooth;
}

button:not([disabled]) {
  cursor:pointer;
}
body {
	margin:0;
	background-color:silver;
	
	display:grid;
	place-items:start center;
}

/* Code voor de layout en positie van de elementen  */


nav {
	position:fixed;
	
	z-index:100;
}

ol {
	width:100vw;
	height:100vh;
	overflow:hidden;
	
	margin:0;
	padding:0;
	list-style:none;
	
	display:grid;
	grid-template-columns:100vw 100vw 100vw;
	grid-template-rows:100vh 100vh 100vh;
	
	scroll-behavior:smooth;
	scroll-snap-type: both mandatory;
}

li {
	position:relative;
	width:100vw;
	height:100vh;
	
	display:grid;
	place-items:center;
	
	scroll-snap-align: center;
	
	background-size:cover;
	background-position:center;
}

/* Code voor de game mappen en styling van de elementen */

#een{
  background-image:url(../images/deel1.1.png);
}

#twee{
  background-image:url(../images/deel2.2.png);

}

#drie{
  background-image:url(../images/deel3.3.png);

}

#vier{
  background-image:url(../images/deel4.4.png);

}

#vijf{
  background-image:url(../images/deel5.5.png);

}

#zes{
  background-image:url(../images/deel6.6.png);

}

#zeven{
  background-image:url(../images/deel7.7.png);

}

#acht{
  background-image:url(../images/deel8.8.png);

}

#negen{
  background-image:url(../images/deel9.9.png);

}

